{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>

    <nav>
    <hr/>
    <ul class="menu">
      {{ range .Site.Menus.tags }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>

    <hr/>
    </nav>
{{ end }}

{{ .Content }}

{{if not .IsHome }}
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
      {{ if (gt .Params.date 0) }}<span class="date">{{ .Date.Format "2006/01/02" }}</span>{{ end }}
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
